<% content_for :page_title, @post.title %>


<section class="section">
  <div class="container">
    <!--
    <nav class="level">

      <div class="level-left">
        <p class="level-item">
          <strong>Actions</strong>
        </p>
      </div>
      <div class="level-right">
        <p class="level-item">
          <%= link_to "Edit", edit_post_path(@post), class: "button" %>
        </p>
        <p class="level-item">
          <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "button is-danger" %>
        </p>
      </div>

    </nav>

    <hr />
    -->
    <div class="content">
      <div class="is-size-4">
      <%= @post.content %>
      </div>
      <br>
      <br>
      <div class ="image container">
      <% (0...@post.images.count).each do |image| %>
      <%= image_tag(@post.images[image]) %>
      <% end %>
      </div>
    </div>
  </div>
</section>

<section class="comments">

</section>
